[submodule "Packages/php-repos/test-runner"]
	path = Packages/php-repos/test-runner
	url = git@github.com:php-repos/test-runner.git
[submodule "Packages/php-repos/cli"]
	path = Packages/php-repos/cli
	url = git@github.com:php-repos/cli.git
[submodule "Packages/php-repos/datatype"]
	path = Packages/php-repos/datatype
	url = git@github.com:php-repos/datatype.git
[submodule "Packages/php-repos/file-manager"]
	path = Packages/php-repos/file-manager
	url = git@github.com:php-repos/file-manager.git
[submodule "Packages/php-repos/control-flow"]
	path = Packages/php-repos/control-flow
	url = git@github.com:php-repos/control-flow.git
[submodule "Packages/php-repos/console"]
	path = Packages/php-repos/console
	url = git@github.com:php-repos/console.git
