on:
  push:
    tags:
      - 'v*'

name: Upload Release

jobs:
  build:
    name: Upload Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install PHPKG
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/php-repos/phpkg-installation/master/install.sh)"
          echo "PATH=\$PATH:$HOME/.phpkg" >> $GITHUB_PATH
      - name: Build project
        run: |
          phpkg install
          phpkg build
          cd build
          ./phpkg build --project=../
      - name: Remove unnecessary files
        run: |
          cd build
          rm -fR .github
          rm -fR Tests
          rm -f credentials.json
          rm -f .gitattributes
          rm -f .gitignore
          rm -f CODE_OF_CONDUCT.md
          rm -f CONTRIBUTING.md
          rm -f LICENSE
          rm -f README.md
          rm -f console
          rm -f phpkg.config-lock.json
          rm -f phpkg.config.json
      - name: Create the zip
        run: |
          zip -r phpkg.zip build
          ls -lh phpkg.zip
      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          files: phpkg.zip
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
